[osc]
address = "127.0.0.1"
input_port = 9001  # VRChat's output port
output_port = 9000  # VRChat's input port for chatbox
display_time = 3000     # time to display messages in milliseconds
max_message_chunks = 9  # large messages are split into chunks, this is the max it will split

[openai]
api_key = "YOUR API KEY"
model = "gpt-3.5-turbo"

[translation]
target_language = "Japanese"

[audio]
silence_threshold = 50  # determines the time for the silence detection
noise_gate_threshold = 0.10  # adjust based on your microphone and environment
noise_gate_hold_time = 0.10  # adjust based on preference
min_transcription_duration = 1.0  # Minimum duration in seconds for transcription

[rate_limit]
requests_per_minute = 50  # adjust based on your API limits, it should continue to record even while waiting